<p-multiSelect [options]="cars" [(ngModel)]="selectedCars" maxSelectedLabels='1'>
</p-multiSelect>
<p>Selected Cars: {{selectedCars}}</p>


<p-dataTable [value]="car">
    <p-column field="vin" header="Vin"></p-column>
    <p-column field="year" header="Year"></p-column>
    <p-column field="brand" header="Brand"></p-column>
    <p-column field="color" header="Color"></p-column>
</p-dataTable>

<!-- <h3>Dynamic Columns</h3>
<p-dataTable [value]="cars">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable> -->

<!-- <select size="5" name="states" multiple="multiple" id="states">
    <option value="KL">Kerala</option>
    <option value="TN">Tamil Nadu</option>
    <option value="KT">Karnataka</option>
    <option value="AP">Andhra</option>
    <option value="UP">Uttar Pradesh</option>
</select> -->

<p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true"></p-galleria>
