table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

h2 {
  color: rgba(0, 0, 0, 0.71);
}

th,
td {
  text-align: left;
  padding: 8px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  width: 25%;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

th {
  background-color: #ebedf0;
  color: black;
  font-weight: normal;
  text-align: center;
}
