table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  font-family: "Roboto";
  border: 1px solid rgba(128, 128, 128, 0.2);
}

h2 {
  color: rgba(0, 0, 0, 0.71);
}

th,
td {
  text-align: left;
  padding: 8px;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  width: 25%;
}

td {
  color: #555555;
}

tr {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #ebedf0;
  color: #555555;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
